/* Footer */

footer {
  display: flex;
  flex-direction: row;
  height: 246px;
  width: 100%;
  padding: 40px 30px 40px 30px;
  gap: 40px;
  color: black;
  border: 2px solid red;
}

.frame2 {
  /* height: 166px; */
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  /* display: grid; */
  /* grid-template-columns: 2fr 1fr 1fr 1fr; */
  gap: 40px;
  border: 2px solid orange;
}

.frame14 {
  height: 93.76px;
  width: 251px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid lime;
}

.logo1 {
  width: 100px;
  height: 29.76px;
}

.menuItem {
  font-size: 14px;
  gap: 9px;
}

.frame15 {
  height: 166px;
  display: flex;
  flex-direction: row;
  gap: 49px;
  border: 2px solid blue;
}

.frame16,
.frame17,
.frame18,
.frame19 {
  gap: 20px;
  /* width: 110px; */
  border: 2px solid magenta;
}

h3 {
  font-size: 18px;
}

.menuItem2 {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
  gap: 9px;
}

.career {
  font-size: 14px;
}

.badge {
  height: auto;
  width: auto;
  font-size: 8px;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 510;
  background-color: #2476ff;
  padding: 2px 4px 2px 4px;
  gap: 10px;
  align-self: auto;
  align-content: center;
}

/* .nav16,
.nav17,
.nav18,
.nav19 {
  gap: 10px;
} */

/* .footer-about .logo {
  width: 100px;
  height: 29.76px;
} */

/* .footer-links h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
} */

/* .footer-links ul {
  list-style: none;
} */

/* .footer-links li {
  margin-bottom: 16px;
} */

/* .footer-links a {
  color: black;
  text-decoration: none;
} */
