/* Hire Us SECTION */
/* LEFT */

.hireUs {
  padding: 30px;
  width: auto;
  /* height: 708px; */
  display: flex;
  flex-direction: row;
  background-color: #20335b;
}

.leftPart2 {
  gap: 60px;
  padding: 0 0 0 70px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* TOP */

.topPart2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.phase {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.hireUsData {
  gap: 34px;
  display: flex;
  flex-direction: column;
}

.hireTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hireTitle span {
  display: flex;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.hireTitle p {
  color: #677788;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.phase span {
  color: #ffffff;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}

.hireTitle .line2 {
  background-color: #ffffff;
  width: 370px;
  height: 1px;
}

/* BOTTOM */

.buttomPart {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.hire-us-person {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  gap: 4px;
}

.hire-us-person .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}

.hire-us-person .role {
  color: #677788;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.personalImage {
  gap: 30px;
}

.man {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

/* RIGHT PART */

.rightPart2 {
  gap: 10px;
}

.hire-us-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  gap: 37px;
}

.formData {
  gap: 20px;
}

.formData p {
  color: black;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.formGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input {
  border-radius: 5px;
  border: 1px solid #e6e8f2;
  padding: 10px;
  gap: 10px;
  font-size: 14px;
  font-weight: 510;
  line-height: 24px;
}

#first {
  color: #828282;
}

.form20 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}
