/* pricing */

.price {
  display: flex;
  flex-direction: column;
  padding: 0 0 120px 0;
  gap: 60px;
  /* border: 5px solid pink; */
}

#pricing .pTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pTitle h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.pTitle p {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #677788;
}

/*----------plan---features---containers------ */

.planFlist {
  width: fill;
  height: 452px;
  padding: 0 30px 0 30px;
  gap: 30px;
}

.planFlist .table-price {
  width: fill;
  height: fill;
  gap: 30px;
  display: flex;
  flex-direction: row;
  /* border: 2px solid blue; */
}

/* --------------LEFT---SIDE----------------- */

.plan {
  display: flex;
  width: 75%;
  height: fill;
  flex-direction: column;
  border: 1px solid #e2e2e2;
  padding: 40px;
  gap: 50px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 #00000026;
}

.plan .planH {
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.planPrice {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.planPrice h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
}

.planPrice .planPeriod {
  align-content: flex-end;
}

.planPeriod p {
  display: flex;
  padding: 0 0 9px 0;
  gap: 7px;
  font-size: 20px;
  line-height: 100%;
  color: #677788;
}

.planH p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #677788;
}

.planFooter {
  gap: 10px;
  width: 137px;
  display: flex;
  flex-direction: column;
}

.active {
  gap: 24px;
}

button {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  gap: 8px;
  background-color: #2476ff;
  border: none;
}

button p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  align-content: center;
}

button i {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  color: #2476ff;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
}

.planFooter span {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #677788;
  align-self: center;
}

/* right side */

.planFeatures {
  /* border: 5px solid red; */
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.rowOne,
.rowTwo {
  display: flex;
  flex-direction: row;
  /* width: auto; */
  gap: 10px;
  /* height: 219px; */
  /* border: 2px solid purple; */
}

.planFi {
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* height: 219px; */
  border: 1px #ffffff;
  padding: 20px;
  gap: 20px;
  /* border: 2px solid lime; */
}

.itemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* border: 2px solid blue; */
}

.components,
.money,
.cancel,
.moneyback {
  width: 50px;
  height: 50px;
}

.iTitle {
  gap: 10px;
}

.iTitle span {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.itemContent .rowData {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #677788;
}

.fa-regular {
  border-radius: inherit;
  display: flex;
}

#cancel {
  display: flex;
  flex-direction: row;
}

.status {
  border-radius: 15px;
  padding: 4px 10px 4px 10px;
  gap: 10px;
  background-color: #01c9a7;
}

.status .gtag {
  display: flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
}
