/* ----------------------------media query------------------------ */

.hire-us-content {
  grid-template-columns: 1fr 1fr;
}

.hero-content {
  grid-template-columns: 1fr 1fr;
}

.fa-bars {
  display: none;
}

@media (max-width: 1023px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav-links {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .fa-bars {
    display: block;
    color: #677788;
  }

  header {
    justify-content: space-between;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .leftPart {
    padding: 0 0 60px 0;
    gap: 30px;
    align-items: center;
  }

  .rightPart {
    height: 309px;
  }

  .title h2 {
    width: auto;
    height: auto;
  }

  .title span {
    align-self: center;
  }

  /* --------WHY------------------------ */

  .whyFont {
    padding: 0 0 80px 0;
    align-items: center;
    width: 100%;
  }

  .bulletsList {
    padding: 0 34px 0 34px;
    width: 100%;
    justify-content: center;
  }

  .top2 .Lline,
  .Rline {
    width: 40%;
  }

  .top2 .Llinex,
  .Rlinex {
    width: 40%;
  }

  /* ----------PRICING-------------- */

  .planFlist {
    height: auto;
    padding: 0 44px 0 44px;
    gap: 30px;
  }

  .planFlist .table-price {
    display: flex;
    flex-direction: column;
  }

  .plan {
    width: 100%;
    align-items: center;
  }

  .planPrice {
    align-self: center;
  }

  .btn:hover,
  button:hover {
    background-color: #2476ff;
    color: #ffffff;
    border: 2px solid #2476ff;
  }

  .plan:hover {
    box-shadow: none;
    transition-duration: 0.5s;
  }

  /* ---------------------HIRE -------US------------------- */

  .hireUs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .hire-us-content {
    display: flex;
    flex-direction: column;
  }

  .leftPart2 {
    display: flex;
    flex-direction: row;
    padding: 40px 30px 20px 30px;
    /* padding: 30px; */
    gap: 100px;
  }
}

@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
  }

  /* .hero-content {
    grid-template-columns: 1fr;
  }

  .leftPart {
    padding: 0 0 60px 30px;
    width: auto;
    height: auto;
  }

  .rightPart {
    width: auto;
    height: auto;
    position: relative;
    padding: 0;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    margin-bottom: 10px;
  } */
}
