.top-section {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  color: #f6f8fa;
}

.logo {
  width: 154.9px;
  height: 46.1px;
  gap: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 6px 14px 6px 14px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-links a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #677788;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 14px;
  align-self: center;
}

.nav-links a:hover {
  color: #2476ff;
}

.btn {
  display: flex;
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  gap: 20px;
  background-color: #2476ff;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
}

/* ------HERO--SECTION--------- */

.asana,
.atlassian,
.calendar,
.google-ads,
.paypal,
.weave,
.google {
  width: 48px;
  height: 48px;
}

/* .btn {
  
  cursor: pointer;
  border: none;
} */

.hero {
  display: flex;
  flex-direction: row;
  padding: 40px 30px 0 30px;
  /* width: 1024px; */
  width: 100%;
  /* border: 2px solid red; */
  background: url(/assets/bg/background-top.svg);
}

.leftPart {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 0 60px 0;
  gap: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.title h2 {
  width: 334px;
  height: 144px;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
}

.title span {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  color: #677788;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 24px;
  /* border: 2px solid purple; */
}

.action button {
  border-radius: 30px;
  padding: 15px 25px 15px 25px;
  gap: 8px;
  background-color: #2476ff;
  color: #ffffff;
}

.action a {
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
  color: #677788;
  align-content: center;
}

/* -----------RIGHT--SIDE-------------------------------- */

/* .feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
} */

/* .feature-card {
  padding: 32px;
  border-radius: 12px;
  background: #f9fafb;
} */
