/* Why Font Section */

.whyFont {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px 80px 30px;
  gap: 40px;
  border: 8px solid green;
}
.whyFontTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.why {
  /* width: 141px;
  height: 31px; */
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}

.whyData {
  width: 600px;
  font-weight: 500;
  font-size: 16px;
  color: #677788;
  align-items: center;
  line-height: 24px;
  text-align: center;
}

.bulletsList {
  height: 145px;
  display: flex;
  flex-direction: row;
  padding: 0 34px 0 34px;
  justify-content: center;
  border: 2px solid aqua;
}

.bullet {
  padding: 26px 0 26px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 224px;
  height: 145px;
  border: 2px solid red;
}

.top {
  display: flex;
  align-items: center;
  width: 224px;
  height: 50px;
  gap: 4px;
  border: 2px solid purple;
}

.bulletTitle {
  border: 2px solid lime;
}

.top .Lline,
.Rline {
  width: 83px;
  height: 1px;
  background-color: #ecf2ff;
}

.bulletCircle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  gap: 10px;
  padding: 10px;
  background-color: #ecf2ff;
  border: 2px solid red;
}

.bulletCircle .bulletIn {
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #0066ff;
  justify-self: center;
  align-self: baseline;
}

.bulletTitle {
  padding: 0 10px 0 10px;
  gap: 4px;
}

.bulletTitle span {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 19px;
  line-height: 100%;
  align-items: center;
}
